<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPsgGy82gxCUrx-Ee3j17Vi2NvTO4-MQI</string>
	<key>GCM_SENDER_ID</key>
	<string>698235063823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manuelteran.pruebaEspacioDigital</string>
	<key>PROJECT_ID</key>
	<string>pruebaespaciodigital</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebaespaciodigital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698235063823:ios:980bc94acdc06bb5211d7a</string>
</dict>
</plist>